/*
    DEMO STYLE
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*/
body {
    background: #fff;
    
}

/*
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
*/

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.nav_heading{
	font-size:24px;
	line-height: 33.6px;
    font-weight: 900;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
/* ---------------------------------------------------
    Banner STYLE
----------------------------------------------------- */
/*
.floatdiv_right{
    position:fixed; _position:absolute; _z-index:-1;
    width:160px;
    right:45%;
    top:24%;
    background-color: transparent;
    margin-right: -520px;
    padding:0;
}
.floatdiv_left{
    position:fixed; _position:absolute; _z-index:-1;
    width:160px;
    right:45%;
    top:24%;
    background-color: transparent;
    margin-right: 590px;
    padding:0;
}

.floatdiv ul  { list-style: none; }
.floatdiv li  { margin-bottom: 2px; text-align: center; }
.floatdiv a   { color: #5D5D5D; border: 0; text-decoration: none; display: block; }
.floatdiv a:hover, #floatdiv .menu  { background-color: #5D5D5D; color: #fff; }
.floatdiv .menu, #floatdiv .last    { margin-bottom: 0px; }
*/

/* ---------------------------------------------------
    color STYLE
----------------------------------------------------- */
.tdcolor_1{
	background-color:#f1f7ff;
}


/* ---------------------------------------------------
    BOARD STYLE
----------------------------------------------------- */
.table_gtx tbody td, .table_gtx thead th {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table_gtx thead th{
	font-size:14px;
	line-height: 21px;
    font-weight: 700;
    vertical-align: middle;
}

.table_gtx .list_rowNum{
	font-size: 10px;
	line-height: 15px;
    font-weight: 500;
    color: #999;
    vertical-align: middle;
}

.table_gtx .list_else{
	font-size:14px;
	line-height: 21px;
    font-weight: 500;
    vertical-align: middle;
}
.table_gtx .list_grade img{
	vertical-align:middle;
	margin-bottom: 4px;
}

.board_heading{
	color: #3493ff;
	font-weight: 900;
}

.content_area{
	font-size:14px;
	line-height: 21px;
	font-weight: 500;
}
.content_area .hr1{
	margin-top: 1rem;
  	margin-bottom: 0rem;
  	border: 0;
  	border-top: 2px solid rgb(46, 67, 97);
}
.content_area .hr2{
	margin-top: 0rem;
  	margin-bottom: 0.8rem;
  	border: 0;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.content_area .content_heading{
	font-size:20px;
	line-height: 28px;
	font-weight: 700;
}

.content_area .table td{
	padding-left: 8px;
}
.content_main_td{
	min-height: 500px;
}
.content_area .table .tdcolor_1 img{
	vertical-align:middle;
	margin-bottom: 6px;
}

.content_area .content_gray{

	color: #999;
}
.content_area .content_gray_small{
	font-size:12px;
	line-height: 18px;
	color: #999;
}
/* ---------------------------------------------------
    REPLY STYLE
----------------------------------------------------- */
.reply_area .reply_textarea{
	resize: none;
	overflow: hidden;
	overflow-wrap: break-word;
	height:58px;
}
.reply_area .card_area .card{
	border: none;
}
.reply_area .card_area .card-header img{
	vertical-align:middle;
	margin-bottom: 3px;
	margin-right: 5px;
}
.reply_area .card_area .card-text{
	font-size:14px; 
	line-height: 21px; 
	font-weight: 500;
}
.reply_area .card_area .card-header .card-user-time{
	font-size: 12px;
	line-height: 18px;
    font-weight: 500;
    color: #999;
    vertical-align: middle;
    margin-top: 1px;
}
.card-body-under{
	font-size:14px;
	line-height: 21px; 
	font-weight: 500;
	color: #999; !important;
}
.card-body-under .span_class{
	margin-right: 15px;
	display: inline-block;
}
.card-body-under .span_class2{
	margin-right: 5px;
	display: inline-block;
}
.card-body-under .span_class3{
	margin-right: 5px;
	display: inline-block;
}
.reply_area .hr2{
	margin-top: 2rem;
  	margin-bottom: 0.8rem;
  	border: 0;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
}