<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicpan.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							b.title like CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'C'.toString()">
							b.content like CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'W'.toString()">
							m.name like CONCAT('%',#{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	
	<select id="getListWithPaging" resultType="com.musicpan.domain.BoardVO">
		SELECT b.bno, b.title, b.regdate, b.hit, b.id, m.name, m.grade, b.replycnt
		from board_${b_name} b INNER JOIN member m
			ON b.id=m.id
		where 
		<include refid="criteria"></include>
		b.del_flag = 0 
		order BY b.bno desc
		LIMIT #{limitNum}, #{amount}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*)
		from board_${b_name} b INNER JOIN member m
			ON b.id=m.id
		where
		<include refid="criteria"></include>
		del_flag = 0
	</select>
	
	<select id="read" resultType="com.musicpan.domain.BoardVO">
		SELECT b.bno, b.title, b.content, b.regdate, b.updatedate, b.hit, b.id, m.name, m.grade
		from board_${b_name} b INNER JOIN member m
				ON b.id=m.id
		where bno = #{bno}
	</select>
	
	<update id="increaseHit">
		update board_${b_name}
		set hit = hit + 1
		where bno = #{bno}
	</update>
	
	<insert id="insert">
		insert into board_${b_name} (title, content, regdate, updatedate, hit, id)
		values (#{title}, #{content},now(),now(),0,#{id})
	</insert>
	
	<select id="getRank" resultType="int">
		SELECT t.rank
		FROM (SELECT bno, rank() over(ORDER BY bno ASC) AS rank
				FROM board_${b_name} where del_flag = 0) t
		WHERE t.bno= #{bno}
	</select>
	
	<update id="update">
		update
			board_${b_name}
		set 
			title = #{title}
			,content = #{content}
			,updatedate = now()
		where 
			bno = #{bno}
	</update>
	
	<update id="updateFlag">
		update
			board_${b_name}
		set 
			del_flag = 1
			,updatedate = now()
		where 
			bno = #{bno}
	</update>
	
	<update id="updateReplyCnt">
    	update board_${b_name}
    	set
    		replycnt = replycnt + #{amount}
    	where
    		bno = #{bno}
	</update> 
</mapper>
