<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicpan.mapper.BoardMapper">

	
	<select id="getListWithPaging" resultType="com.musicpan.domain.BoardVO">
		SELECT b.bno, b.title, b.regdate, b.hit, b.id, m.name, m.grade
		from board_${b_name} b INNER JOIN member m
			ON b.id=m.id
		order BY b.bno desc
		LIMIT #{limitNum}, #{amount}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from board_${b_name}
	</select>
	
	<select id="read" resultType="com.musicpan.domain.BoardVO">
		SELECT b.bno, b.title, b.content, b.regdate, b.updatedate, b.hit, b.id, m.name, m.grade
		from board_${b_name} b INNER JOIN member m
				ON b.id=m.id
		where bno = #{bno}
	</select>
	
	<update id="increaseHit">
		update board_${b_name}
		set hit = hit + 1
		where bno = #{bno}
	</update>
	
	<insert id="insert">
		insert into board_${b_name} (title, content, regdate, updatedate, hit, id)
		values (#{title}, #{content},now(),now(),0,#{id})
	</insert>
	
	<select id="getRank" resultType="int">
		SELECT t.rank
		FROM (SELECT bno, rank() over(ORDER BY bno ASC) AS rank
				FROM board_${b_name}) t
		WHERE t.bno= #{bno}
	</select>
	
	<update id="update">
		update
			board_${b_name}
		set 
			title = #{title}
			,content = #{content}
			,updatedate = now()
		where 
			bno = #{bno}
	</update>
	
</mapper>
