<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicpan.mapper.MusicMapper">

	<insert id="insert">
		INSERT INTO
			music_basic
			(
				idx
				, song
				, singer
				, releasedate
				, composer
				, lyricist
				, arranger
				, copyright
				, secright
				, stockcnt
			)
		VALUES
			(
				#{idx}
				, #{song}
				, #{singer}
				, #{releaseDate}
				, #{composer}
				, #{lyricist}
				, #{arranger}
				, #{copyRight}
				, #{secRight}
				, #{stockCnt}
			)
	</insert>
	
	<insert id="insertAuction">
		INSERT INTO
			music_auction
			(
				idx
				, auctioncnt
				, auctionunits
				, auctionstart
				, auctionlowprice
				, auctionavgprice
			)
		VALUES
			(
				#{idx}
				, #{auctionCnt}
				, #{auctionUnits}
				, #{auctionStart}
				, #{auctionLowPrice}
				, #{auctionAvgPrice}
			)
	</insert>
	
	
	<insert id="insertFee">
		INSERT INTO
			music_fee
			(
				idx
				, feemonth
				, fee
			)
		VALUES
			(
				#{idx}
				, #{feeMonth}
				, #{fee}
			)
	</insert>
	
	<select id="getIdx" resultType="int">
	
		SELECT
			idx
		FROM
			music_basic
	
	</select>
	
</mapper>
