<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicpan.mapper.MusicMapper">

	<insert id="insert">
		INSERT INTO
			music_basic
			(
				idx
				, song
				, singer
				, releasedate
				, composer
				, lyricist
				, arranger
				, copyright
				, secright
				, stockcnt
				, updatedate
			)
		VALUES
			(
				#{idx}
				, #{song}
				, #{singer}
				, #{releaseDate}
				, #{composer}
				, #{lyricist}
				, #{arranger}
				, #{copyRight}
				, #{secRight}
				, #{stockCnt}
				, now()
			)
	</insert>
	
	<update id="updateSpreadInfo">
		UPDATE
			music_basic
		SET
			recentprice = #{recentPrice}
			, recentpricetime = #{recentPriceTime}
			, buyunit = #{buyUnit}
			, buyprice = #{buyPrice}
			, sellunit = #{sellUnit}
			, sellprice = #{sellPrice}
			, updatedate = now()
		WHERE
			idx = #{idx}
	</update>
	
	<insert id="insertAuction">
		INSERT INTO
			music_auction
			(
				idx
				, auctioncnt
				, auctionunits
				, auctionstart
				, auctionlowprice
				, auctionavgprice
			)
		VALUES
			(
				#{idx}
				, #{auctionCnt}
				, #{auctionUnits}
				, #{auctionStart}
				, #{auctionLowPrice}
				, #{auctionAvgPrice}
			)
	</insert>
	
	
	<insert id="insertFee">
		INSERT INTO
			music_fee
			(
				idx
				, feemonth
				, fee
			)
		VALUES
			(
				#{idx}
				, #{feeMonth}
				, #{fee}
			)
	</insert>
	
	<insert id="insertHistory">
		INSERT INTO
			music_history
			(
				idx
				, histime
				, hisprice
				, hisunit
			)
		VALUES
			(
				#{idx}
				, #{hisTime}
				, #{hisPrice}
				, #{hisUnit}
			)
	</insert>
	
	
	<insert id="insertFeeInfo">
		INSERT INTO
			music_feeinfo
			(
				idx
				, feemonth
				, broadcast
				, transfer
				, duplication
				, performance
				, oversea
				, etc
			)
		VALUES
			(
				#{idx}
				, #{feeMonth}
				, #{broadcast}
				, #{transfer}
				, #{duplication}
				, #{performance}
				, #{oversea}
				, #{etc}
			)
	</insert>
	
	<select id="getIdx" resultType="int">
	
		SELECT
			idx
		FROM
			music_basic
	
	</select>
	
	<select id="getRecentPriceTime" resultType="date">
	
		SELECT
			recentpricetime
		FROM
			music_basic
		WHERE
			idx = #{idx}
	
	</select>
	
	<select id="getHisTime" resultType="date">
	
		SELECT
			histime
		FROM
			music_history
		WHERE
			idx = #{idx}
		ORDER BY histime DESC
		LIMIT 0,15
	
	</select>
	
</mapper>
