<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicpan.mapper.ReplyMapper">

	
	<insert id="insert" parameterType="com.musicpan.domain.ReplyVO" useGeneratedKeys="true" keyProperty="ref">
		INSERT INTO
			reply_${b_name}
			(
				reply
				, regdate
				, updatedate
				, ref
				, reply_step
				, bno
				, id
			)
		VALUES
			(
				#{reply}
				, now()
				, now()
				, 0
				, 0
				, #{bno}
				, #{id}
			)
	</insert>
	
	<insert id="insertRe">
		INSERT INTO
			reply_${b_name}
			(
				reply
				, regdate
				, updatedate
				, ref
				, reply_step
				, bno
				, id
			)
		VALUES
			(
				#{reply}
				, now()
				, now()
				, #{rno}
				, #{ref}
				, #{bno}
				, #{id}
			)
	</insert>
	
	<select id="read" resultType="com.musicpan.domain.ReplyVO">
		SELECT
			*
		FROM
			reply_${b_name}
		WHERE
			rno = #{rno}
	</select>
	
	<select id="getMaxStep" resultType="int">
		SELECT
			max(reply_step)
		FROM
			reply_${b_name}
		WHERE
			ref = #{rno}
	</select>
	
	
	<delete id="delete">
		DELETE FROM
			reply_${b_name}
		WHERE
			rno = #{rno}
	</delete>
	
	
	<update id="update">
		UPDATE
			reply_${b_name}
		SET
			reply = #{reply}
			, updatedate = now()
		WHERE
			rno = #{rno}
	</update>
	
	<update id="updateRef">
		UPDATE
			reply_${b_name}
		SET
			ref = #{ref}
		WHERE
			rno = #{ref}
	</update>
	
	
	<select id="getListWithPaging" resultType="com.musicpan.domain.ReplyVO">
		SELECT
			r.rno
			,r.reply
			,r.regdate
			,r.updatedate
			,r.ref
			,r.reply_step
			,r.bno
			,r.id
			,m.grade
			,m.name
		FROM
			reply_${cri.b_name} r INNER JOIN member m
			ON r.id = m.id
		WHERE
			r.bno = #{bno}
		ORDER BY r.ref desc, r.reply_step asc
	</select>
	
</mapper>
