<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml
		/WEB-INF/spring/security-context.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 방문자체크용 -->
	<listener>
		<listener-class>com.musicpan.listner.VisitCounter</listener-class>
	</listener>
	<listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<!-- 방문자체크용 -->
	
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		
		<multipart-config>
			<location>C:\\upload\\temp</location>
			<max-file-size>10485760</max-file-size> <!--10MB 파일당 최대 크기-->
			<max-request-size>41943040</max-request-size><!-- 40MB 파일 한 개의 용량이 아니라 multipart/form-data 요청당 최대 파일 크기이다 (여러 파일 업로드 시 총 크기로 보면 된다)-->
			<file-size-threshold>10485760</file-size-threshold> <!-- 10MB 메모리 사용 max-file-size 보다 같거나 커야함-->
		</multipart-config>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<!-- ///////////////////////////////////////////////////////////////////////// -->
	<!-- 인코딩 필터 -->
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
		  <param-name>encoding</param-name>
		  <param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		 <filter-name>encodingFilter</filter-name>
		 <url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- ///////////////////////////////////////////////////////////////////////// -->
  	
  	
  	<!-- ///////////////////////////////////////////////////////////////////////// -->
  	<!-- 스프링시큐리티필터 -->
  	<!-- ///////////////////////////////////////////////////////////////////////// -->
  	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	<!-- 에러페이지 처리 -->
	<!-- ///////////////////////////////////////////////////////////////////////// -->
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/views/error/e400.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/views/error/e401.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/views/error/e403.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error/e404.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/views/error/e405.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>407</error-code>
		<location>/WEB-INF/views/error/e407.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>408</error-code>
		<location>/WEB-INF/views/error/e408.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>413</error-code>
		<location>/WEB-INF/views/error/e413.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>414</error-code>
		<location>/WEB-INF/views/error/e414.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/error/e500.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>501</error-code>
		<location>/WEB-INF/views/error/e501.jsp</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/WEB-INF/views/error/e502.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/WEB-INF/views/error/e503.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/WEB-INF/views/error/e505.jsp</location>
	</error-page>
	
	<!-- ///////////////////////////////////////////////////////////////////////// -->
</web-app>
